<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" [routerLink] = "['home']">Home Loan Management</a>
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" [hidden]=Adminloggedin||loggedin [routerLink] = "['adduser']">Register User</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [hidden]=!loggedin [routerLink] = "['addloan']">Apply Loan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [hidden]=!loggedin [routerLink] = "['user']">User DashBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [hidden]=!Adminloggedin [routerLink] = "['admin']">Admin DashBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [hidden]=!Adminloggedin [routerLink] = "['adminloan']">Admin Loan Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [hidden]=loggedin||Adminloggedin [routerLink] = "['loginuser']">Login User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [hidden]=!loggedin (click) = 'Userlogout()'>Logout User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [hidden]=!Adminloggedin (click) = 'Adminlogout()'>Logout Admin</a>
      </li>
      
  </ul>
</nav>

<div class="container-fluid">  
  <!-- switching amoung component in SinglePageApplication is used by router-outlet in ANgular but in HTML we have <a href> to switch between HTMLpage-->
  <router-outlet></router-outlet>
</div>