
<form (ngSubmit)="edit()" #frm=ngForm>
    <table class="table table-bordered text-center">
        <tr>
            <th colspan="4" class="alert-success text-center">Apply Loan</th>
        </tr>
        <tr>
            <td>Applicant Name</td>
            <td><input name="lname" required pattern="[A-Za-z]{3,}" 
                #lname=ngModel [(ngModel)]="loan.name" class="form-control"></td>
        <span *ngIf = "lname.dirty && lname.invalid" class="alert alert-warning">Invalid Applicant Name</span>
        </tr>
        <tr>
            <td>Applicant EmailId</td>
            <td><input name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                #email=ngModel [(ngModel)]="loan.email" class="form-control"></td>
        <span *ngIf = "email.dirty && email.invalid" class="alert alert-warning">Invalid EmailId</span>
        </tr>
        <tr>
            <td>Applicant AadharCard </td>
            <td><input name="aadhar" required pattern="[A-Za-z0-9]{5,}" 
                #aadhar=ngModel [(ngModel)]="loan.aadhar" class="form-control"></td>
        <span *ngIf = "aadhar.dirty && aadhar.invalid" class="alert alert-warning">Invalid Aadhar Details</span>
        </tr>
        <tr>
            <td>Applicant Pancard</td>
            <td><input name="Pancard" required pattern="[A-Za-z0-9]{5,}" 
                #Pancard=ngModel [(ngModel)]="loan.panCard" class="form-control"></td>
        <span *ngIf = "Pancard.dirty && Pancard.invalid" class="alert alert-warning">Invalid Pancard</span>
        </tr>
        
        <tr>
            <td>Enter Amount</td>
            <td><input name="salary" required pattern="[0-9]{4,}"
                #amnt=ngModel [(ngModel)]="loan.amount"  class="form-control"></td>
            <span *ngIf = "amnt.dirty && amnt.invalid"  class="alert alert-warning">invalid amount</span>
        </tr>
        <tr>
            <td>Enter duration</td>
            <td><input name="duration" required pattern="[0-9]{1,}"
                #duration=ngModel [(ngModel)]="loan.duration"  class="form-control"></td>
            <span *ngIf = "duration.dirty && duration.invalid"  class="alert alert-warning">invalid duration</span>
        </tr>
        <tr>
            <td><button type="submit" [disabled]=!frm.valid class="btn btn-primary">Save</button></td>
<!-- after clicking on save data moves in add.ts->save()->employee.service.ts->addEmp()
// after clicking on save button it store the details and navigate to list.html as code written in save() -->

            <td><button type="reset" class="btn btn-warnings">Reset</button></td>
        </tr>
    </table>
</form>
