

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <h1 style="text-align: center; color: #84BD5A; padding-top: 20px;font-size: 50px;"><strong>Admin Login</strong></h1>
        <form (ngSubmit) = "authenticate()" #frm=ngForm>
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../../assets/AdminLogin.jpg" class="image" style="width: 100%;"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                   
                    <div class="row px-3"> 
                        <label class="mb-1"><h6 class="mb-0 text-sm">Admin UserName</h6></label>
                        <input class="mb-4" type="text" name="adminUser" [(ngModel)]="username" required #adminUser=ngModel    
                                pattern="[A-Za-z0-9]{4,}" placeholder="Enter a valid Admin Username">
                        <label style="margin-left: 230px; text-shadow: 2px 2px 8px #FF0000;" *ngIf = "adminUser.dirty && adminUser.invalid">Invalid UserName Format</label>
                    </div>
                    <div class="row px-3"> <label class="mb-1"><h6 class="mb-0 text-sm">Admin Password</h6></label> 
                        <input type="password" name="password" [(ngModel)]="password" required #pwd=ngModel
                                        pattern="[A-Za-z0-9]{4,}" placeholder="Enter password">
                        <label style="margin-left: 165px; text-shadow: 2px 2px 8px #FF0000;"  *ngIf = "pwd.dirty && pwd.invalid">Password Should be alteast 4 Digit</label>
                    </div>
                    <div class="row mb-3 px-3"></div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" [disabled]=!frm.valid>Login Admin</button> </div>
                   
                </div>
            </div>
        </div></form>
        <div class="bg-blue py-4">
            
        </div>
    </div>
</div>