<!-- <form (ngSubmit) = "authenticate()" #frm=ngForm>
    <table class="table table-bordered text-center">
        <tr>
            <th colspan="4" class="alert-success text-center">Login Enrollement Form</th>
        </tr>
        <tr>
            <td>Email ID</td>
            <td><input name="userid" [(ngModel)]="email" required #uid=ngModel    
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"></td>
                 <span *ngIf = "uid.dirty && uid.invalid">invalid Email</span>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="passwd" [(ngModel)]="password" required #pwd=ngModel
                 pattern="[A-Za-z0-9]{4,}" class="form-control"></td>
                 <span *ngIf = "pwd.dirty && pwd.invalid">invalid password</span>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" [disabled]=!frm.valid>Login</button>
                <span (click)="forgetPassword()"><a>Forget Password</a></span>
            </td>
        </tr>
        
    </table>
</form> -->
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <h1 class="text-center" style="margin-top: 30px;">Login User</h1>
        <form (ngSubmit) = "authenticate()" #frm=ngForm>
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../../assets/LoginHomeLoan.jpg" class="image" style="width: 100%; margin-top: 20px;"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                   
                    <div class="row px-3"> 
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                        <input class="mb-4" type="text" name="email" [(ngModel)]="email" required #emailid=ngModel    
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter a valid email address">
                        <label style="margin-left: 265px; text-shadow: 2px 2px 8px #FF0000;" *ngIf = "emailid.dirty && emailid.invalid">Invalid Email Format</label>
                    </div>
                    <div class="row px-3"> <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label> 
                        <input type="password" name="password" [(ngModel)]="password" required #pwd=ngModel
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" placeholder="Enter password">
                        <label style="margin-left: 165px; text-shadow: 2px 2px 8px #FF0000;"  *ngIf = "pwd.dirty && pwd.invalid">Password Should be alteast 5 Digit</label>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <span (click)="forgetPassword()"><a>Forget Password</a></span>
                        </div>
                    </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" [disabled]=!frm.valid>Login</button> </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger " (click)="Register()">Register</a></small> </div>
                </div>
            </div>
        </div></form>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>