<form (ngSubmit) = "authenticate()" #frm=ngForm>
    <table class="table table-bordered text-center">
        <tr>
            <th colspan="4" class="alert-success text-center">Login Enrollement Form</th>
        </tr>
        <tr>
            <td>Email ID</td>
            <td><input name="userid" [(ngModel)]="email" required #uid=ngModel    
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"></td>
                 <span *ngIf = "uid.dirty && uid.invalid">invalid Email</span>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="passwd" [(ngModel)]="password" required #pwd=ngModel
                 pattern="[A-Za-z0-9]{4,}" class="form-control"></td>
                 <span *ngIf = "pwd.dirty && pwd.invalid">invalid password</span>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" [disabled]=!frm.valid>Login</button>
            </td>
        </tr>
    </table>
</form>