<div class="container-fluid text-center">  
    <div class="row" id="EmiChart">
        <div class="d-none d-lg-block col-lg-5  header-img-section">
            <img src="../../assets/backgroundImage.svg" class="img-fluid" alt="banner">
        </div>
        <div class="col-lg-5 offset-lg-1 col-sm-12 header-title-section">
            <p class="header-subtitle">Home Loan</p>
            <h1 class="header-title">A personal Home loan for multiple purposes!</h1>
            <p class="header-title-text">One of the major home loan loans benefits is that it comes with a lower interest rate than
                 other forms of borrowing like a personal loan or a gold loan. This is because the lender uses the property that
                  you wish to purchase as a security against the amount you borrow.</p>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------->
<div class="container-fluid">
    <div class="row" id="emicalculator">
        <p class="header-subtitle text-center">Loan EMI Calculator</p><br>

        <div class="col-lg-4">
            <div class="card" style="background-color: rgb(250, 249, 249);border: none; margin: 20px;">
        <form (ngSubmit)="generateEMI()" #frm=ngForm>
            <div class="form-group">
            <label for="amount">Loan Amount:</label>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                <div class="input-group-text">₹</div>
                </div>
                <input type="number" class="form-control" name="amount" [(ngModel)]="amount">
            </div>
            </div>

            <div class="form-group">
            <label for="amount">Interest Rate :</label>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                <div class="input-group-text">%</div>
                </div>
                <input type="number" class="form-control" name="interest" [(ngModel)]="interest">
            </div>
            </div>

            <div class="form-group">
            <label for="amount">Loan Tenure :</label>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                <div class="input-group-text">Year</div>
                </div>
                <input type="number" class="form-control" name="duration" [(ngModel)]="duration">
            </div>
            </div>
            <button type="submit" class="btn btn-info">Generate EMI Chart</button>

        </form></div>
        </div>        
        <div class="col-lg-4" style="margin-left: 70px; margin-top: 30px;" (mouseenter) ="EMIDetails()">
            <div class="emi-details">
                <div class="emi-details-head">
                <h3>Your EMI Details</h3>
                </div>
                <div class="emi-details-box">
                <p>Monthly Home Loan EMI </p>
                <h5>{{EMIperMonth | currency : 'INR' : "symbol"}}</h5>
                </div>
                <div class="emi-details-box">
                <p>Total Interest Payable</p>
                <h5>{{totalInterest | currency : 'INR' : "symbol"}}</h5>
                </div>
                <div class="emi-details-box no-bottom-border">
                <p>Total Payment</p>
                <h5>{{totalAmountPaid | currency : 'INR' : "symbol"}}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3" style="margin-top: 100px;">
            <p class="header-subtitle text-center" style="font-size: 15px;">Maximum Loan Amount Should be less than 70 Lakh</p><br>

            <button style="margin-top: 20px;" *ngIf="EMIList?.length" class="btn btn-primary header-subtitle" type="button" data-bs-toggle="modal" data-bs-target="#detailsField">
                View EMI Chart
            </button>
            <p *ngIf="!EMIList?.length" class="header-subtitle text-center" style="font-size: 20px;">Enter Loan Amount, Loan Duration &<br> Loan Tenure to view <strong> EMI Chart </strong></p><br>
        </div>
        
    </div>
</div>
<div class="portfolio-modal modal fade" id="detailsField" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background-color: azure;">
        <div class="modal-header">
            <h1 style="text-align: center; color: #84BD5A; font-size: 50px;"><strong><u>EMI Chart</u></strong></h1>
            
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
            <div class="container-fluid">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-success">
                    <tr>
                        <th class="alert-info text-center">Year<br></th>
                        <th class="alert-info text-center">Opening<br>Balance</th>
                        <th class="alert-info text-center">Annual<br>EMI</th>
                        <th class="alert-info text-center">Interest<br>(Per Annum)</th>
                        <th class="alert-info text-center">Principle<br>(Per Annum)</th>
                        <th class="alert-info text-center">Closing<br>Balance</th>
                      
                    </tr>
                </thead>
                <tbody class="table-light text-center">
                    <tr *ngFor = "let f of EMIList">
                        <td>{{ f.year }}</td>
                        <td>{{ f.openingBal | currency : 'INR' : "symbol" }}</td>
                        <td>{{ f.emi | currency : 'INR' : "symbol" }}</td>
                        <td>{{ f.interestPaidYearly | currency : 'INR' : "symbol" }}</td>
                        <td>{{ f.principlePaidYearly | currency : 'INR' : "symbol" }}</td>
                        <td>{{ f.closingbal | currency : 'INR' : "symbol" }}</td>
                    </tr>
                </tbody><br>
                
                  <button class="btn btn-info" (click)="register()">Apply Loan</button>
                
                </table>
                
        </div>
    </div>
    
  </div>
</div></div>

<!---------------------------------------------------------------------------------->

<div class="container-fluid" id="keyfeatures">

<div class="container">
    <div class="row">
      <h2 style="text-align: center;">Home Loan Key Features</h2><br> <br>
        
        <div class="col-lg-6 col-md-12 col-sm-12"><br>
            <ul>
                <li><p><i class="fa fa-check-circle fa-lg"></i> Home Loans for purchase of a flat, 
                    row house, bungalow from private 
                    developers in approved projects.</p></li>
                    

                <li><p><i class="fa fa-check-circle fa-lg"></i> Home Loans for purchase of 
                    properties  from Development 
                    Authorities such as DDA, MHADA etc.</p></li>

                <li><p><i class="fa fa-check-circle fa-lg"></i> Loans for purchase of properties in 
                    an existing Co-operative Housing 
                    Society or Apartment Owners'
                    Association or Development
                    Authorities settlements or privately 
                    up homes.</p> </li>  
               
                <li><p> <i class="fa fa-check-circle fa-lg"></i>Loans for construction on a freehold 
                    / lease hold plot or on a plot allotted
                     by a Development Authority.</p> </li>
            </ul> 
        </div>    
        <div class="col-lg-6 col-md-12 col-sm-12"><br>
            <ul>
                <li><p><i class="fa fa-check-circle fa-lg"></i> Expert legal and technical 
                    counselling to help you make the
                    right home buying decision.</p></li>
                <li><p><i class="fa fa-check-circle fa-lg"></i> Integrated branch network for
                     availing and servicing the Home
                     Loans anywhere in India.</p></li> 
                <li><p><i class="fa fa-check-circle fa-lg"></i> Special arrangement with AGIF for
                     Home Loans for those employed in
                     the Indian Army.</p></li>    
                <li><p> <i class="fa fa-check-circle fa-lg"></i> The Pradhan Mantri Awas
                     Yojana (PMAY) (URBAN)-Housing for
                    All was a mission that was launched
                    by the Government of India with the
                    aim of boosting home ownership. It
                    aimed at achieving ‘Housing for All’
                    by the year 2022.</p></li>     

            </ul>             
        </div>                
    </div>
</div>
</div>

<!----------------------------------------------------------------------------------->
<div class="container-fluid" id="table1">
    <h2 style="text-align: center;">Home Loan Eligibility Criteria</h2> <br>
<h3 style="text-align: center;">Based on Salary</h3><br>

<div class="container"> 
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            
            <th style="text-align: center; width: 50%;" >Monthly Income</th>
            
            <th style="text-align: center; ">Amount Eligible</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">Less than ₹30,000</td>
                <td style="text-align: center;">40% of Amount Applied</td>
            </tr>
            <tr>
                <td style="text-align: center;">Between ₹30,000 to ₹60,000</td>
                <td style="text-align: center;">55% of Amount Applied</td>
            </tr>
            <tr>
                <td style="text-align: center;">Between ₹60,000 to ₹1 Lakh</td>
                <td style="text-align: center;">70% of Amount Applied</td>
            </tr>
            <tr>
                <td style="text-align: center;">Between ₹1Lakh to ₹1.5Lakh</td>
                <td style="text-align: center;">80% of Amount Applied</td>
            </tr>
            <tr>
                <td style="text-align: center;">Between ₹1.5Lakh to ₹2Lakh</td>
                <td style="text-align: center;">90% of Amount Applied</td>
            </tr>
            <tr>
                <td style="text-align: center;">Greater than ₹2Lakh </td>
                <td style="text-align: center;">100% of Amount Applied</td>
            </tr>

        </tbody>
    </table>    
    
</div>   
<br>
<hr>
<div class="container"> 
    <h4 style="text-align: center;">Based on CIBIL Score</h4><br>
    <table class="table table-bordered">
        <thead  class="thead-dark">
          <tr>
            
            <th style="text-align: center; width: 50%;" scope="col">CIBIL Score</th>
            
            <th style="text-align: center;" scope="col">Home Loan Interest Rates (% p.a.)</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">Less than 550</td>
                <td style="text-align: center;">Not Eligible</td>
            </tr>
            <tr>
                <td style="text-align: center;">Between 550 to 700</td>
                <td style="text-align: center;">13%</td>
            </tr>
            <tr>
                <td style="text-align: center;">Between 700 to 750</td>
                <td style="text-align: center;">10%</td>
            </tr>
            <tr>
                <td style="text-align: center;">Between 750 to 900</td>
                <td style="text-align: center;">7%</td>
            </tr>
        </tbody>
    </table>
</div>     

</div>

<!----------------------------------------------------------------------------------->
<div class="container-fluid" id="docs_charges">
    <h2 style="text-align: center;">Home Loan Documents and Charges</h2><br> <br>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <p><strong>HOME LOAN DOCUMENTS</strong></p><br><br>
          <p class="text-muted" style="position: relative; left: -200px; top: 20px;">for salaried individuals</p> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <p><strong>For home loan approval, you need to submit the following documents for all applicants / co-applicants along with the completed and signed home loan application form.</strong></p>
          <ul>
              <li>Proof of both Identity and Residence(KYC)</li>
              <li>Proof of Income</li>
              <li>Property relalted documents</li>
          </ul>  
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            <p><strong>HOME LOAN Charges and Fees</strong></p><br><br>
            <p class="text-muted" style="position: relative; left: -230px; top: 20px;">for salaried individuals</p> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <p><strong>Here is an indicative list of the home loan fees and charges/ outgoings that are payable depending on the nature of the loan availed (*):.</strong></p>
          <ul>
              <li>Home Loan Processing and Fees Charges (0.25% of Loan Amount)</li>
              <li>Home Loan Prepayment Charges (0.14% of Loan Amount)</li>
              <li>Home Loan Conversion Fees (0.18% of Loan Amount)</li>
          </ul> 
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            <p><strong>HOME LOAN Repayment Options</strong></p><br><br>
            <p class="text-muted" style="position: relative; left: -250px; top: 20px;">for salaried individuals</p> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <ul>
              <li>Set Up Replayment Facility</li>
              <li>Flexible Loan Installments Plan</li>
              <li>Accelerated Replayment Scheme</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------------->
<div class="container-fluid" id="relatedArticles">
  <h2 style="text-align: center;">Articles</h2> <br><br>
<div class="container">
    <div class="row">
    
        <div class="col-xl-4 col-lg-5 col-sm-6" style="padding-left: 60px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.istockphoto.com/photos/happy-couple-smiling-in-their-new-home-picture-id1188220349?k=6&m=1188220349&s=170667a&w=0&h=dC5wa50Ep2dP8IxswcZElstopmUmUxy2zJQW_kEEUT0=" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><small class="text-muted">Home Finance</small></h5>
                    <p class="card-text">How to Apply Loan Online</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>    
        </div>
        <div class="col-xl-4 col-lg-5 col-sm-6" style="padding-left: 60px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://s-i.huffpost.com/gen/1349209/images/o-CAREER-WOMEN-facebook.jpg" alt="Card image cap" height="222px">
                <div class="card-body">
                    <h5 class="card-title"><small class="text-muted">Home Finance</small></h5>
                    <p class="card-text">Loan Benefits for Women</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>    
        </div>
        <div class="col-xl-4 col-lg-5 col-sm-6" style="padding-left: 60px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/videoblocks-portrait-of-family-holding-keys-to-new-home-on-moving-in-day_rj0mszscf_thumbnail-1080_01.png" alt="Card image cap" height="222px">
                <div class="card-body">
                    <h5 class="card-title"><small class="text-muted">Home Finance</small></h5>
                    <p class="card-text">Basics of Pre-Approved Loans</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>    
        </div>
        
    </div>
</div>
</div>
<!------------------------------------------------------------------------------>
<div class="container-fluid" id="FAQ">
    <div class="panel panel-primary" >
        <div class="panel-heading" style="padding:0; background-color: #84BD5A;font-size: 30px; font-weight: bold; color: white;">
            <h2 class="panel-title text-center" style="padding: 6px;"><strong>FAQ</strong></h2>
        </div>
        <div class="panel panel-default">
          <!--------------------        FAQ     --------------------------------->
      <div class="d-md-flex h-md-100 align-items-center">
        
        <!-- First Half -->
        
        <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
          <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <div class="para col-xs-12 col-md-4 col-sm-4 col-lg-4">
              <div class="title">
            <h2>Frequently Asked Questions</h2></div>
            <p>Here are a few questions that will answer most of the queries that you may have.</p>
            </div>
          </div>
      </div>
        
        <!-- Second Half -->
        
        <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
            <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      UNDERSTANDING HOME LOAN ELIGIBILITY
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>When you apply for a home loan, the lender considers –</p>
                      <p>Your income and loan repaying capacity to determine loan eligibility</p>
                      <p>Other factors include your age, retirement age, financial position, credit history, credit score</p>
                      <p>Enhance your borrowing ability by –</p>
                      <ul>
                        <li>Availing a structured repayment plan.</li>
                        <li>Ensuring a steady income flow, regular savings and investments.</li>
                        <li>Furnishing details of your regular additional income sources.</li>
                        <li>Keeping a record of your variable salary components.</li>
                        <li>Taking actions to rectify errors (if any) in your credit score.</li>
                        <li>Repaying ongoing loans and short terms debts.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      BUYING A HOUSE? WHY SELF-FUND WHEN YOU CAN BORROW
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Borrowing for your home purchase is an attractive proposition</p>
                      <p>A home loan is preferable to other loans because of –</p>
                      <ul>
                        <li>lower interest rates</li>
                        <li>added assurance on property documentation</li>
                        <li>it helps in maintaining liquidity for interiors work etc.</li>
                        <li>tax benefits</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      6 REASONS TO OPT FOR HOME LOAN REFINANCE?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Refinancing your Home Loan makes sense when the new lender –</p>
                      <ul>
                        <li>offers a lower rate of interest</li>
                        <li>offers a higher loan amount</li>
                        <li>permits switch from fixed to floating/adjustable interest rate</li>
                        <li>permits reduction in loan tenure</li>
                        <li>permits reduction in EMI</li>
                        <li>offers better terms and service</li>
                      </ul>
                      <p>Don’t refinance if –</p>
                      <ul>
                        <li>costs don’t justify it</li>
                        <li>you are nearly through with your loan repayment</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      HOME LOANS ARE FOR ALL – SALARIED AND SELF-EMPLOYED PEOPLE
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Whether you are salaried or self-employed, you can get a home loan.</p>
                      <p>Terms for both kinds of applicants are the same.</p>
                      <p>Only difference usually is in the set of documents to be submitted for home loan.</p>
                      <p>Earnings and creditworthiness are the key factors to determine loan eligibility.</p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
            
        </div>
        <hr> 
</div></div></div>
<!------------------------------------------------------------------------------>

<div class="container-fluid" id="aboutus">
  <h2 style="text-align: center;">About Us</h2> 
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <br><br>
            <img src="/assets/Home_Loan_Things.jpg" width="350px" height="200px">
            
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            
            <p class="card-text" style="text-align: justify; text-justify: inter-word;margin-top: 30px;"> Buying a house is a dream for many and involves a lot of 
            financial planning. Ménage Financing makes it simpler for those who want to realise this dream.Our housing loan is tailor made for salaried
            individuals as they offer an attractive rate of interest and a longer tenure.
            We also provide you with legal and technical counselling to help you make the right home buying decision.
              
            Ménage Financing offers you all online Home Loan solutions if you want to buy, construct or renovate your house. </p>   
                 
        </div>      
    </div>
    </div>
</div>

