
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <h1 style="text-align: center; color: #84BD5A; padding-top: 20px;font-size: 50px;"><strong>Register User</strong></h1>
        <form (ngSubmit) = "addUser()" #frm=ngForm>
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    
                    <div class="row px-3"> <label class="mb-1"><h6 class="mb-0 text-sm">Name</h6></label> 
                        <input type="text" name="name" [(ngModel)]="user.name" required #name=ngModel
                                        pattern="[A-Za-z ]{3,}" placeholder="Enter Name">
                        <label style="margin-left: 160px; text-shadow: 2px 2px 8px #FF0000;"  *ngIf = "name.dirty && name.invalid">Name should be atleast 3 Character</label>
                    </div>
                    <div class="row px-3 mb-4"></div>
                    <div class="row px-3"> 
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                        <input class="mb-4" type="text" name="email" [(ngModel)]="user.email" required #emailid=ngModel    
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter a valid email address">
                        <label style="margin-left: 265px; text-shadow: 2px 2px 8px #FF0000;" *ngIf = "emailid.dirty && emailid.invalid">Invalid Email Format</label>
                    </div>
                    <div class="row px-3"> <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label> 
                        <input type="password" name="password" [(ngModel)]="user.password" required #pwd=ngModel
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" placeholder="Enter password">
                        <label style="text-shadow: 2px 2px 8px #FF0000;"  *ngIf = "pwd.dirty && pwd.invalid">Password Should be atleast 5 Characters, it must contain 1 digit & 1 uppercase Alphabet</label>
                    </div>
                    <div class="row px-3 mb-4"></div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" [disabled]=!frm.valid>Register User</button> </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Already a User <a class="text-danger " (click)="Login()">Login</a></small> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../../assets/registerUser.jpg" class="image" style="width: 100%; margin-top: 40px;"> </div>
                </div>
            </div>
        </div></form>
        <div class="bg-blue py-4">
            
        </div>
    </div>
</div>