<form (ngSubmit)="addUser()" #frm=ngForm>
    <table class="table table-bordered text-center">
        <tr>
            <th colspan="4" class="alert-success text-center">Apply Loan</th>
        </tr>
        <tr>
            <td>Name</td>
            <td><input name="lname" required pattern="[A-Za-z]{3,}" 
                #lname=ngModel [(ngModel)]="user.name" class="form-control"></td>
        <span *ngIf = "lname.dirty && lname.invalid" class="alert alert-warning">Invalid Applicant Name</span>
        </tr>
        <tr>
            <td>EmailId</td>
            <td><input name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                #email=ngModel [(ngModel)]="user.email" class="form-control"></td>
        <span *ngIf = "email.dirty && email.invalid" class="alert alert-warning">Invalid EmailId</span>
        </tr>
        <tr>
            <td>UserName</td>
            <td><input name="UserName" required pattern="[A-Za-z0-9]{3,}" 
                #UserName=ngModel [(ngModel)]="user.username" class="form-control"></td>
        <span *ngIf = "UserName.dirty && UserName.invalid" class="alert alert-warning">Invalid UserName</span>
        </tr>
        <tr>
            <td>Password</td>
            <td><input name="password" required pattern="[A-Za-z0-9]{3,}" 
                #password=ngModel [(ngModel)]="user.password" class="form-control"></td>
        <span *ngIf = "password.dirty && password.invalid" class="alert alert-warning">Invalid password</span>
        </tr>
        
        <tr>
            <td><button type="submit" [disabled]=!frm.valid class="btn btn-primary">Save</button></td>
<!-- after clicking on save data moves in add.ts->save()->employee.service.ts->addEmp()
// after clicking on save button it store the details and navigate to list.html as code written in save() -->

            <td><button type="reset" class="btn btn-warnings">Reset</button></td>
        </tr>
    </table>
</form>
